-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: sih_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `chambres`
--

DROP TABLE IF EXISTS `chambres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chambres` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `capacite` int(11) NOT NULL,
  `etage` varchar(255) DEFAULT NULL,
  `lits_occupes` int(11) NOT NULL,
  `numero` varchar(255) NOT NULL,
  `service` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKjearetfik293avi0kx1q3svmx` (`numero`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chambres`
--

LOCK TABLES `chambres` WRITE;
/*!40000 ALTER TABLE `chambres` DISABLE KEYS */;
INSERT INTO `chambres` VALUES (1,200,'1',0,'01','Pédiatrie'),(3,200,'2',1,'02','Médecine Générale'),(4,200,'3',1,'03','Cardiologie'),(5,200,'4',0,'04','Chirurgie'),(6,200,'5',0,'05','Maternité');
/*!40000 ALTER TABLE `chambres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `consultations`
--

DROP TABLE IF EXISTS `consultations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `consultations` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `date_consultation` datetime(6) NOT NULL,
  `diagnostic` text DEFAULT NULL,
  `dossier_id` bigint(20) NOT NULL,
  `medecin_id` bigint(20) NOT NULL,
  `motif` varchar(255) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `duree_minutes` int(11) NOT NULL,
  `urgence` bit(1) NOT NULL,
  `facture_id` bigint(20) DEFAULT NULL,
  `patient_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `consultations`
--

LOCK TABLES `consultations` WRITE;
/*!40000 ALTER TABLE `consultations` DISABLE KEYS */;
INSERT INTO `consultations` VALUES (1,'2026-08-26 12:00:00.000000','',1,23,'Consultation','',30,'\0',NULL,36),(2,'2027-06-22 09:30:00.000000','',1,23,'Consultation','',30,'\0',NULL,36),(3,'2026-07-27 09:30:00.000000','',2,23,'Consultation','',30,'\0',NULL,37),(4,'2026-11-24 07:30:00.000000','',2,23,'Consultation','',30,'\0',NULL,NULL),(5,'2026-07-28 09:30:00.000000','',4,23,'Consultation','Un peu malade',45,'\0',NULL,NULL),(6,'2026-07-15 09:30:00.000000','',6,23,'Consultation','',90,'\0',NULL,NULL),(7,'2026-07-13 14:30:00.000000','',1,23,'Follow-up','',30,'\0',NULL,NULL);
/*!40000 ALTER TABLE `consultations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `creneaux_travail`
--

DROP TABLE IF EXISTS `creneaux_travail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `creneaux_travail` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `heure_debut` time(6) NOT NULL,
  `heure_fin` time(6) NOT NULL,
  `jour_semaine` int(11) NOT NULL,
  `medecin_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `creneaux_travail`
--

LOCK TABLES `creneaux_travail` WRITE;
/*!40000 ALTER TABLE `creneaux_travail` DISABLE KEYS */;
/*!40000 ALTER TABLE `creneaux_travail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dossiers_medicaux`
--

DROP TABLE IF EXISTS `dossiers_medicaux`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dossiers_medicaux` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `antecedents` text DEFAULT NULL,
  `groupe_sanguin` varchar(255) DEFAULT NULL,
  `patient_id` bigint(20) NOT NULL,
  `poids` double DEFAULT NULL,
  `taille` double DEFAULT NULL,
  `diagnostic` text DEFAULT NULL,
  `notes` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK9ag82f4f88i11w73xi9k90986` (`patient_id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dossiers_medicaux`
--

LOCK TABLES `dossiers_medicaux` WRITE;
/*!40000 ALTER TABLE `dossiers_medicaux` DISABLE KEYS */;
/*!40000 ALTER TABLE `dossiers_medicaux` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `examens`
--

DROP TABLE IF EXISTS `examens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `examens` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `date_demande` date NOT NULL,
  `patient_id` bigint(20) NOT NULL,
  `resultat` text DEFAULT NULL,
  `statut` enum('FINALIZED','PENDING') DEFAULT NULL,
  `type_examen` varchar(255) NOT NULL,
  `prix` double DEFAULT NULL,
  `facture_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `examens`
--

LOCK TABLES `examens` WRITE;
/*!40000 ALTER TABLE `examens` DISABLE KEYS */;
/*!40000 ALTER TABLE `examens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `factures`
--

DROP TABLE IF EXISTS `factures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `factures` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `date_echeance` date DEFAULT NULL,
  `date_emission` date NOT NULL,
  `invoice_id` varchar(255) DEFAULT NULL,
  `montant_total` double NOT NULL,
  `notes` varchar(255) DEFAULT NULL,
  `patient_id` bigint(20) NOT NULL,
  `statut` enum('EN_ATTENTE','EN_RETARD','PAYEE') DEFAULT NULL,
  `part_mutuelle` double DEFAULT NULL,
  `part_patient` double DEFAULT NULL,
  `taux_couverture` double DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK75v7w5pdmvxg9e08wejankkrp` (`invoice_id`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `factures`
--

LOCK TABLES `factures` WRITE;
/*!40000 ALTER TABLE `factures` DISABLE KEYS */;
/*!40000 ALTER TABLE `factures` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `indisponibilites`
--

DROP TABLE IF EXISTS `indisponibilites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `indisponibilites` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `date_debut` datetime(6) NOT NULL,
  `date_fin` datetime(6) NOT NULL,
  `medecin_id` bigint(20) NOT NULL,
  `motif` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `indisponibilites`
--

LOCK TABLES `indisponibilites` WRITE;
/*!40000 ALTER TABLE `indisponibilites` DISABLE KEYS */;
/*!40000 ALTER TABLE `indisponibilites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lignes_facture`
--

DROP TABLE IF EXISTS `lignes_facture`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lignes_facture` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `description` varchar(255) DEFAULT NULL,
  `montant_unitaire` double DEFAULT NULL,
  `quantite` int(11) NOT NULL,
  `facture_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKp2ih5jcnrycex0g56t1wkw8o6` (`facture_id`),
  CONSTRAINT `FKp2ih5jcnrycex0g56t1wkw8o6` FOREIGN KEY (`facture_id`) REFERENCES `factures` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lignes_facture`
--

LOCK TABLES `lignes_facture` WRITE;
/*!40000 ALTER TABLE `lignes_facture` DISABLE KEYS */;
INSERT INTO `lignes_facture` VALUES (40,'Consultation médicale',5000,1,33),(43,'Consultation médicale',5000,1,35),(44,'Examen : endoscopie',8,1,35),(45,'Consultation médicale',5000,1,36),(46,'Consultation médicale',5000,1,37),(47,'Examen : sida',20000,1,38),(51,'Consultation médicale',5000,1,42),(52,'Consultation médicale',5000,1,43),(53,'Examen : IRM',4000,1,43),(54,'Consultation médicale',5000,1,44),(55,'Examen : scanner',565,1,44),(56,'Consultation médicale',5000,1,45),(57,'Examen : IRM',15000,1,45);
/*!40000 ALTER TABLE `lignes_facture` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `logs_audit`
--

DROP TABLE IF EXISTS `logs_audit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `logs_audit` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `action` varchar(255) NOT NULL,
  `date_action` datetime(6) NOT NULL,
  `details` text DEFAULT NULL,
  `utilisateur_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `logs_audit`
--

LOCK TABLES `logs_audit` WRITE;
/*!40000 ALTER TABLE `logs_audit` DISABLE KEYS */;
/*!40000 ALTER TABLE `logs_audit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medicaments`
--

DROP TABLE IF EXISTS `medicaments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `medicaments` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `description` varchar(255) DEFAULT NULL,
  `nom` varchar(255) NOT NULL,
  `prix_unitaire` double DEFAULT NULL,
  `quantite_stock` int(11) NOT NULL,
  `seuil_alerte` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medicaments`
--

LOCK TABLES `medicaments` WRITE;
/*!40000 ALTER TABLE `medicaments` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicaments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ordonnances`
--

DROP TABLE IF EXISTS `ordonnances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ordonnances` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `date_validation` date DEFAULT NULL,
  `patient_id` bigint(20) NOT NULL,
  `prescription_id` bigint(20) NOT NULL,
  `statut` enum('EN_ATTENTE','SERVIE') DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ordonnances`
--

LOCK TABLES `ordonnances` WRITE;
/*!40000 ALTER TABLE `ordonnances` DISABLE KEYS */;
/*!40000 ALTER TABLE `ordonnances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paiements`
--

DROP TABLE IF EXISTS `paiements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `paiements` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `date_paiement` date NOT NULL,
  `facture_id` bigint(20) NOT NULL,
  `mode_paiement` varchar(255) DEFAULT NULL,
  `montant` double NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paiements`
--

LOCK TABLES `paiements` WRITE;
/*!40000 ALTER TABLE `paiements` DISABLE KEYS */;
INSERT INTO `paiements` VALUES (7,'2026-06-27',26,'Espèces',17000),(8,'2026-06-27',25,'Mobile Money',128000),(9,'2026-06-13',28,'Carte bancaire',13000),(10,'2026-06-27',34,'Espèces',5250),(11,'2026-06-27',38,'Espèces',20000),(12,'2026-06-27',42,'Espèces',5000),(13,'2026-07-03',44,'Espèces',5565),(14,'2026-07-13',37,'Espèces',5000),(15,'2026-07-13',33,'Espèces',5000),(16,'2026-07-13',45,'Espèces',20000),(17,'2026-07-17',36,'Espèces',5000);
/*!40000 ALTER TABLE `paiements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patients`
--

DROP TABLE IF EXISTS `patients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `patients` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `adresse` varchar(255) DEFAULT NULL,
  `chambre` varchar(255) DEFAULT NULL,
  `clinical_id` varchar(255) DEFAULT NULL,
  `couverture_medicale` varchar(255) DEFAULT NULL,
  `date_admission` date NOT NULL,
  `date_naissance` date NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `nom` varchar(255) NOT NULL,
  `prenom` varchar(255) NOT NULL,
  `sexe` varchar(255) NOT NULL,
  `telephone` varchar(255) NOT NULL,
  `date_expiration_couverture` date DEFAULT NULL,
  `numero_assurance` varchar(255) DEFAULT NULL,
  `service_affecte` varchar(255) DEFAULT NULL,
  `statut_admission` enum('ADMIS','EN_ATTENTE','REFUSE') DEFAULT NULL,
  `taux_prise_en_charge` double DEFAULT NULL,
  `date_sortie` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK4oa4pvexsrde9ijgey2asc5d0` (`clinical_id`)
) ENGINE=InnoDB AUTO_INCREMENT=47 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patients`
--

LOCK TABLES `patients` WRITE;
/*!40000 ALTER TABLE `patients` DISABLE KEYS */;
/*!40000 ALTER TABLE `patients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prescriptions`
--

DROP TABLE IF EXISTS `prescriptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prescriptions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `consultation_id` bigint(20) NOT NULL,
  `date_debut` date DEFAULT NULL,
  `dosage` varchar(255) NOT NULL,
  `instructions` varchar(255) DEFAULT NULL,
  `medicament` varchar(255) NOT NULL,
  `nb_renouvellements` int(11) NOT NULL,
  `quantite` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prescriptions`
--

LOCK TABLES `prescriptions` WRITE;
/*!40000 ALTER TABLE `prescriptions` DISABLE KEYS */;
INSERT INTO `prescriptions` VALUES (14,1,'2026-07-03','10','Prendre 1 fois par jour, le Matin, pendant 7 jours','paracetamol',0,30),(15,3,'2026-07-03','500','Prendre 1 fois par jour, le Matin, pendant 7 jours','dshj',0,30),(16,5,'2026-07-03','100','Prendre 1 fois par jour, le Matin, pendant 7 jours','paracetamol',0,30);
/*!40000 ALTER TABLE `prescriptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tarifs`
--

DROP TABLE IF EXISTS `tarifs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tarifs` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `code_acte` varchar(255) NOT NULL,
  `libelle` varchar(255) NOT NULL,
  `prix` double NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKscnpx3rrul9gpqclxq9dyw9um` (`code_acte`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tarifs`
--

LOCK TABLES `tarifs` WRITE;
/*!40000 ALTER TABLE `tarifs` DISABLE KEYS */;
INSERT INTO `tarifs` VALUES (1,'CONSULTATION','Consultation médicale',5000);
/*!40000 ALTER TABLE `tarifs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateurs`
--

DROP TABLE IF EXISTS `utilisateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `utilisateurs` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `actif` bit(1) NOT NULL,
  `departement` varchar(255) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `mot_de_passe` varchar(255) NOT NULL,
  `nom` varchar(255) NOT NULL,
  `role` enum('ADMIN','AGENT_ADMISSION','COMPTABLE','INFIRMIER','MEDECIN','PHARMACIEN') NOT NULL,
  `specialite` varchar(255) DEFAULT NULL,
  `telephone` varchar(255) DEFAULT NULL,
  `reset_token` varchar(255) DEFAULT NULL,
  `reset_token_expiration` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK6ldvumu3hqvnmmxy1b6lsxwqy` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=47 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateurs`
--

LOCK TABLES `utilisateurs` WRITE;
/*!40000 ALTER TABLE `utilisateurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateurs` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-19 21:58:38
